<!--{% load staticfiles %}-->
<!DOCTYPE html>
<html>
<head>
	<title>Escape from 5F</title>
	<meta charset="utf-8">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://unpkg.com/jquery.terminal/js/jquery.terminal.min.js"></script>
	<link rel="stylesheet" href="https://unpkg.com/jquery.terminal/css/jquery.terminal.min.css"/>
	<!--<script src="{% static 'session.js' %}"></script>-->
</head>
<body>
	<script>
//------------DEMO------------------------------
		$('body').terminal(
		{
    		show: function(arg) {
    		
    			if(arg === "look"){
    				if(flag_act == "False")
    					display("[] (暫無可選行動)");
    				else{
		    				display_menu(look_menu)
		    				this.echo(
		    					"\n(請以 「look X」 為格式, 進行該動作。" +
		    					"例子: look 1 )\n"
		    				);
    					}		
    			}	
    			else if(arg === "move"){
    				if(flag_look == "False")
    					display("[] (暫無可選行動)");
    				else{
						display_menu(move_menu);
						this.echo(
							"\n(請以 「move X」 為格式, 進行該動作。" +
							"例子: move 1 )\n"
						);
    				}
    			}
    			else if(arg === "act"){
    				display_menu(act_menu);
    				this.echo(
    					"\n(請以 「act X」 為格式, 進行該動作。" +
    					"例子: act 1 )\n");
    			}
    			else{
    				display_menu(show_menu);
    				this.echo(
    					"\n(請以 「show X」的格式去查看各項動作更多的選項" + 
    					"例子: show act )\n"
					);
					Session.set("key", "False");
    				Session.set("id_card", "False");
				}
    		},

    		act: function(arg) {
    			
    			if (arg == 1){
					if(flag_act == "False"){
	    				display(
	    					"你站起身來，摸索了一下自己的衣物",
							"發現口袋中有自己的手機。",
							"你想起了可以用手機的手電筒功能查看四周。 "
							);
							this.echo("(提示: 輸入 「show look」 看看有什麼變化)\n");
	    				flag_act = "True";
	    			}
	    			else{
	    				display("觸手可及的地方你已經都探索過了。");
	    				this.echo("(要不要先試試 「look」 或是 「move」 呢)\n");
		    		}
		    	}
	    		else {
	    			display("沒有該動作，請使用 「show act」 查看選項。");
	    		}
	    		

    		},

    		look: function(arg) {
    			
    			if (flag_act == "False"){
    				display("眼前一片漆黑，你什麼都看不到。");
    				this.echo("\n(要不要摸索一下身邊的事物呢？)\n");
				}
    			else if (arg == 1){
	    			if(flag_look == "True")
	    				display("感覺到一絲說不出的異樣感，還是快點離開這地方吧。");
					else{
						display(
							"\n  你打開手機的手電筒一照，",
							"\n  眼前是熟悉卻又陌生的場景。", 
					    	"\n  你唯一可以理解到的事就是你正身處廁所。");
						this.echo("(提示: 輸入 「show move」 看看有什麼變化)\n");
					    flag_look = "True";
					}
				}
				else
    				display("沒有該動作，請使用 「show look」 查看選項。");
    		},

    		move: function(arg) {
				if(flag_act == "False"){
    				display("眼前一片漆黑，你什麼都看不到。");
    				this.echo("\n(要不要摸索一下身邊的事物呢？)\n");
    			}
    			else if(flag_look == "False"){
    				display("眼前一片漆黑，你什麼都看不到。")
    				this.echo("(要不要先看看四周呢？)\n");
    			}
    			else{
    				if (arg == 1){
						display(
							"像是為了逃離這裡的異樣感一樣，",
							"你朝廁所的外面走去"
						);
						this.echo("\n(恭喜你完成使用教學)\n");
						document.ready(window.setTimeout(location.href="/Y29ycmlkb3JfaQ==/"));
					}
					else {
	    				display("沒有該動作，請使用 「show look」 查看選項。");
	    			}
    			}
    		},

    		test: function (){
    			display_menu(look_menu, "hi", "GG", "Well play");
    		}
    	},	
		{
    		greetings:
	    		"==================================================\n" +
			    "\n  你睜開雙眼，眼前一片漆黑，" +				  	   
			    "\n  四周沒有任何燈光，彷彿到了某個異空間一般。" +
			    "\n  接下來，你要做什麼？" +
			    "\n\n==================================================" +
			    "\n(請輸入 「show all」 來查看可以使用的指令)\n"
		}	    );
		
		//-------------------data-------------------------//
		var show_menu = [
			"[act]  進行動作",
			"[look] 觀察當前場所", 
			"[move] 移動到別的場景"
			];

		var act_menu = [
			"[1] 檢查自己身上持有的物品"
		];

		var look_menu = [
			"[1] 嘗試觀察四周"
		];	

		var move_menu = [
			"[1] 離開廁所"
		];

		//-------------------flag------------------------//
		var flag_act = "False";
		var flag_look = "False";

		//---------------function------------------------//

		var term = $('body').terminal();

		function display(){
			term.echo("\n" + "==================================================" + "\n");
			//------------content---------------------
			for (var i = 0; i < arguments.length; i++){
				term.echo("  " + arguments[i]);
			}	
			//---------------------------------------
			term.echo("\n" + "=================================================="  + "\n");
		}

    	function display_menu(menu, ...theArgs){
    		term.echo("\n" + "==================================================" + "\n");
				//------------content---------------------
				menu.forEach(i => term.echo(i));

				for (var i = menu.length; i < arguments.length; i++){
					term.echo(arguments[i]);
				}	
				//---------------------------------------
			term.echo("\n" + "==================================================");
    	}

	
	</script>

</body>
</html>
