{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Escape from 5F</title>
	<meta charset="utf-8">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://unpkg.com/jquery.terminal/js/jquery.terminal.min.js"></script>
	<link rel="stylesheet" href="https://unpkg.com/jquery.terminal/css/jquery.terminal.min.css"/>
	<script src="{% static 'session.js' %}"></script>
</head>
<body>
	<script>

//------------DEMO------------------------------
		$('body').terminal(
		{
    		show: function(arg) {
    			this.echo("\n==================================================\n");
    		
    			if(arg === "look"){
    				if(flag_act == "False")
    					this.echo(
    						"[] (暫無可選行動)" + 
    						"\n\n==================================================\n"
    					);
    				else{
		    				look_menu.forEach(i => this.echo(" " + i));
		    				this.echo(
		    					"\n==================================================" +
		    					"\n(請以 「look X」 為格式, 進行該動作。" +
		    					"例子: look 1 )\n"
		    				);
    					}		
    			}	
    			else if(arg === "move"){
    				if(flag_look == "False")
    					this.echo(
    						"[] (暫無可選行動)" + 
    						"\n\n==================================================\n"
						);
    				else{
						move_menu.forEach(i => this.echo(" " + i));
    						this.echo(
    							"\n==================================================" +
    							"\n(請以 「move X」 為格式, 進行該動作。" +
    							"例子: move 1 )\n"
    						);
    				}
    			}
    			else if(arg === "act"){
    				act_menu.forEach(i => this.echo(" " + i));
    				this.echo(
    					"\n==================================================" +
    					"\n(請以 「act X」 為格式, 進行該動作。" +
    					"例子: act 1 )\n");
    			}
    			else{
    				show_menu.forEach(i => this.echo(" " + i));
    				this.echo(
    					"\n==================================================" +
    					"\n(請以 「show X」的格式去查看各項動作更多的選項" + 
    					"例子: show act )\n"
					);
					Session.set("key", "False");
    				Session.set("id_card", "False");
				}
    		},

    		act: function(arg) {
    			
    			if (arg == 1){
					if(flag_act == "False"){
	    				this.echo(
							"\n==================================================\n" +
							"\n  你站起身來，摸索了一下自己的衣物，     " +
							"\n  發現口袋中有自己的手機。               " +
							"\n  你想起了可以用手機的手電筒功能查看四周。 " +
							"\n\n==================================================" +
							"\n(提示: 輸入 「show look」 看看有什麼變化)\n"
							 );
	    				flag_act = "True";
	    			}
	    			else{
	    			this.echo(
	    				"\n==================================================\n" +
	    				"\n  觸手可及的地方你已經都探索過了。" +
	    				"\n\n==================================================" +
	    				"\n(要不要先試試 「look」 或是 「move」 呢)\n"
	    				);
		    		}
		    	}
	    		else {
	    			this.echo(
						"\n==================================================\n" +
						"\n  沒有該動作，請使用 「show act」 查看選項。 " +
						"\n\n==================================================\n" );
	    		}
	    		

    		},

    		look: function(arg) {
    			
    			if (flag_act == "False")
    				this.echo(
	    					"\n==================================================\n" +
	    					"\n  眼前一片漆黑，你什麼都看不到。" +
	    					"\n\n==================================================" +
	    					"\n(要不要摸索一下身邊的事物呢？)\n"
	    					);
    			else if (arg == 1){
	    			if(flag_look == "True"){
	    				this.echo(
	    					"\n==================================================\n" +
	    					"\n  感覺到一絲說不出的異樣感，還是快點離開這地方吧。" +
	    					"\n\n==================================================\n"
	    					);
	    			}
					else{
						this.echo(
							"\n==================================================\n" +
							"\n  你打開手機的手電筒一照，" +
							"\n  眼前是熟悉卻又陌生的場景。" + 
					    	"\n  你唯一可以理解到的事就是你正身處廁所。" +
					    	"\n\n==================================================" +
					    	"\n(提示: 輸入 「show move」 看看有什麼變化)\n"
					    );
					    flag_look = "True";
					}
				}
				else{
    				this.echo(
						"\n==================================================\n" +
						"\n  沒有該動作，請使用 「show look」 查看選項。" +
						"\n\n==================================================\n" );
    			}
    		},

    		move: function(arg) {
				if(flag_act == "False"){
    				this.echo(
    					"\n==================================================\n" +
    					"\n  眼前一片漆黑，你什麼都看不到。" +
    					"\n\n==================================================" +
    					"\n(要不要摸索一下身邊的事物呢？)\n"
    					);
    			}
    			else if(flag_look == "False"){
    				this.echo(
    					"\n==================================================\n" +
    					"\n  眼前一片漆黑，你什麼都看不到。" +
    					"\n\n==================================================" +
    					"\n(要不要先看看四周呢？)\n"
    					);
    			}
    			else{
    				if (arg == 1){
						this.echo(
							"\n==================================================\n" +
							"\n  是你正身處廁所，四周沒有任何燈光，彷彿到了某個異空間一般" +
							"\n\n==================================================" +
					    	"\n " +
					    	"\n(恭喜你完成使用教學)\n");
						document.ready(window.setTimeout(location.href="/Y29ycmlkb3JfaQ==/"));
					}
					else {
	    				this.echo(
	    					"\n==================================================\n" +
							"\n  沒有該動作，請使用 「show look」 查看選項。" +
							"\n\n==================================================\n"
							);
	    			}
    			}
    		},
    	},	
		{
    		greetings:
	    		"==================================================\n" +
			    "\n  你睜開雙眼，眼前一片漆黑，" +				  	   
			    "\n  四周沒有任何燈光，彷彿到了某個異空間一般。" +
			    "\n  接下來，你要做什麼？" +
			    "\n\n==================================================" +
			    "\n(請輸入 「show all」 來查看可以使用的指令)\n"
		}	    );
		
		//-------------------data-------------------------//
		var show_menu = [
			"[act]  進行動作",
			"[look] 觀察當前場所", 
			"[move] 移動到別的場景"
			];

		var act_menu = [
			"[1] 檢查自己身上持有的物品"
		];

		var look_menu = [
			"[1] 嘗試觀察四周"
		];	

		var move_menu = [
			"[1] 離開廁所"
		];

		//-------------------flag------------------------//
		var flag_act = "False";
		var flag_look = "False";
		

	
	</script>

</body>
</html>
