<!DOCTYPE html>
<html>
<head>
	<title>走廊一</title>
	<meta charset="utf-8">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://unpkg.com/jquery.terminal/js/jquery.terminal.min.js"></script>
	<link rel="stylesheet" href="https://unpkg.com/jquery.terminal/css/jquery.terminal.min.css"/>
</head>
<body>
<script>

//------------DEMO------------------------------

		$('body').terminal(
		{
    		show: function(arg) {
    			this.echo('\n-----------------------------------');
    		
    			if(arg === 'look'){
    				look_menu.forEach(i => this.echo(i));
    			}
    			else if(arg === 'move'){
    				move_menu.forEach(i => this.echo(i));
    			}else if(arg === 'act'){
    				act_menu.forEach(i => this.echo(i));
    			}
    			else{
    				show_menu.forEach(i => this.echo(i));
    				this.echo(
    					'請以 「show X」的格式去查看各項動作更多的選項'
					);
				}
				this.echo('\n-----------------------------------');
    		},

    		look: function(arg) {
				if (arg == 1){
					this.echo(
						'\n-----------------------------------------' +
				    	'\n按了電梯卻發現完全沒反應。' +
				    	'\n-----------------------------------------');
				}
				else if(arg == 2){
					this.echo(
						'\n-----------------------------------------' +
				    	'\n樓梯被一堆障礙物封了起來。' +
				    	'\n你用手機燈光照出去，發現仍舊一片漆黑。' +
				    	'\n-----------------------------------------');
				}
				else {
    				this.echo(
						"\n-----------------------------------------" +
						"\n沒有該動作。" +
						'\n-----------------------------------------' );
    			}
    		},

    		action: function(arg) {
    			this.echo('\n目前沒有什麼動作可以進行。')
    		},

    		move: function(arg) {
				if (arg == 2){
       				document.location.href="../dG9pbGV0/"; 
				}
				else if(arg == 1){
					document.location.href="../Y29ycmlkb3JfaWk=/"; 
				}
				else {
    				this.echo(
						"\n-----------------------------------------" +
						"\n沒有該動作。" +
						'\n-----------------------------------------' );
    			}
    		}
    	},	
		{
    		greetings:
    			'\n-----------------------------------------' +
	    		'\n你走出廁所，往左看到了電梯後相當興奮，想著應該能夠坐電梯到樓下吧！' +
			    '\n同時發現電梯旁有個本來應該是樓梯的地方。，' +
			    '\n-----------------------------------------'
		}
		);
		
		//-------------------data-------------------------//
		var show_menu = [
			"[act]  進行動作",
			"[look] 觀察當前場所", 
			"[move] 移動到別的場景"
			];

		var act_menu = [
			"目前沒有什麼動作可以進行。"
		];

		var look_menu = [
			"[1] 電梯",
			"[2] 樓梯"
		];	

		var move_menu = [
			"[1] 走廊 II",
			"[2] 廁所"
		];

	
	</script>
</body>
</html>