<!DOCTYPE html>
<html>
<head>
	<title>系辦 Department Office</title>
	<meta charset="utf-8">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://unpkg.com/jquery.terminal/js/jquery.terminal.min.js"></script>
	<link rel="stylesheet" href="https://unpkg.com/jquery.terminal/css/jquery.terminal.min.css"/>
	<script src="./js/session.js"></script>
</head>
<body>
<script>
		var key = Session.get(key);
		if (key == 0){
			text = '\n-----------------------------------------' +
			'\n走到系辦門口，想試著推開，卻發現大門被鎖了起來' +
			'\n拿手機一照發現門口上似乎用了特殊的墨水，用光照射才會顯示文字' +
			'\n「回想當初，這是你的起點。」(鑰匙在廁所)' +
			'\n-----------------------------------------'
		}else if(key == 1){
			text = '\n-----------------------------------------' +
			'\n用找到的鑰匙打開了大門後，你走了進去' +
			'\n光往前一照，突然發現在辦公桌後方有著類似人的形狀，讓你嚇了一跳。' +
			'\n仔細一看…那是兩個用紙做的人形，呈現一種正襟危坐的樣子放在椅子上' +
			'\n原本應該是五官的部分分別寫著「童」、「靜」' +
			'\n「這是誰的惡作劇？」你不免皺眉思考' +
			'\n靠近辦公桌，發現電腦上似乎正開著網頁(一個題目)' +
			'\n此為題目網址放置處' +
			'\n此時你的手機一震' +
			'\n「What is your answer?」' +
			'\n-----------------------------------------'
		}

//------------DEMO------------------------------

		$('body').terminal(
		{
    		show: function(arg) {
    			this.echo('\n-----------------------------------');
    		
    			if(arg === 'move'){
    				move_menu.forEach(i => this.echo(i));
    				this.echo(
    					'\n(請以 「move X」 為格式, 進行該動作。' +
    					'\n例子: move 1 )');
    			}
    			else if(arg === 'action'){
    				act_menu.forEach(i => this.echo(i));
    				this.echo(
    					'\n(請以 「action X」 為格式, 進行該動作。' +
    					'\n例子: action 1 )');
    			}
    			else{
    				show_menu.forEach(i => this.echo(i));
    				this.echo(
    					'請以 「show X」的格式去查看各項動作更多的選項' + 
    					'\n例子: show action'
					);
				}
				this.echo('\n-----------------------------------');
    		},

    		move: function(arg) {
				if (arg == 1){
					this.echo(
						'\n-----------------------------------------' +
						'\n環視了一下，有一個佈告欄，佈告欄上似乎曾經貼著什麼。' +
						'\n再看到旁邊的牆上寫著「你記得嗎？你是誰？」' +
						'\n「我當然記得，我是…我是…我是誰？」你突然發現自己完全不記得自己的身份。' +
						'\n-----------------------------------------');
					//移動到走廊二
					window.setTimeout(function(){
        					// Move to a new location or you can do something else
       						document.location.href="../Y29ycmlkb3JfaWk=/"; 
    					}, 5000);
				}
				else {
    				this.echo(
						"\n-----------------------------------------" +
						"\n沒有該動作，請使用 「show look」 查看選項。" +
						'\n-----------------------------------------' );
    			}
    		}
    	},	
		{
    		greetings:
    			text
		}
		);
		
		//-------------------data-------------------------//
		var show_menu = [
			"[move]"
			];

		var move_menu = [
			"[1] 走廊 II",
		];
	</script>
</body>
</html>