<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://unpkg.com/jquery.terminal/js/jquery.terminal.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/jquery.terminal/css/jquery.terminal.min.css"/>

</head>
<body>
	<script>

//------------DEMO------------------------------
		
		$('body').terminal(
		{
    		start: function () {
    			this.echo(
				    '\n你睜開雙眼，' + 
				    '\n眼前一片漆黑' +				     
				    '\n四周沒有任何燈光，彷彿到了某個異空間一般' +
				    '\n接下來，你要做什麼？' + '\n' +
				    '\n[1] 行動' +
				    '\n\n (請輸入「1」來進行下一步)'
			    );
			    tutorial();
			},
    		continue: function (){
    			what_to_do.forEach(i => this.echo(i));
    			this.read('> ').then(text => choice(text));
    		}

    	},
    	{
    		greetings:
    		'[終端機]' + '[新手教學][Demo] ' +
    		'\n\n請輸入 「start」 來開始遊戲'
    	
    		/*1: function() {
        		this.echo('\n你想進行什麼動作？');
        		T_action.forEach(i => this.echo(i));
        		this.read('> ').then(text => action(text));
		    },
		    cls: function() {
				this.echo('cls');
			},
			exit: function(){
				exit();
			}
		}, 
		{
		    greetings:
		    '[終端機]' + '[新手教學][Demo] ' + 
		    '\n你睜開雙眼，' + 
		    '\n眼前是熟悉卻又陌生的場景。' + 
		    '\n你唯一可以理解到的事就是你正身處廁所，' + 
		    '\n四周沒有任何燈光，彷彿到了某個異空間一般' +
		    '\n接下來，你要做什麼？' +
		    '\n' + '[1] 行動' */
		});
		
		//-------------------function----------------------//
		var term = $('body').terminal();
		

		async function tutorial() {
			

			term.read('> ').then(text => {
				if (text == 1)
					term.echo("\n[1] 檢查自己身上持有的物品\n");
					term.read('> ').then(text => {
						if (text == 1)
							term.echo(
								'\n你嘗試站起身來，'+
								'\n摸索了一下自己，'+
								'\n發現口袋中有自己的手機。' +
								'\n接下來，你要做什麼？' +
						    	'\n' +
						    	'\n[2] 觀察');
					})
					term.read('> ').then(text => {
						 if(text == 2)
								term.echo(
									'\n你打開手機的手電筒一照，' +
									'\n眼前是熟悉卻又陌生的場景。' + 
							    	'\n你唯一可以理解到的事就是你正身處廁所。' +
							    	'\n接下來，你要做什麼？' +
						    		'\n' +
							    	'\n[3] 移動');
					})
					term.read('> ').then(text => {
						if(text == 3)
							term.echo(
								'\n你離開了廁所，往走廊的方向走去' +
						    	'\n');
					})
			});

			/*term.read('> ').then(txt => {
				if (txt == 2)
					term.echo(
						'\n你打開手機的手電筒一照，' +
						'\n眼前是熟悉卻又陌生的場景。' + 
				    	'\n你唯一可以理解到的事就是你正身處廁所。' +
				    	'\n接下來，你要做什麼？' +
			    		'\n' +
				    	'\n[3] 移動');
			});	*/
		}

		function choice (text) {
			if(text == 1)
				term.echo('');
				T_action.forEach(i => term.echo(i));
				term.read('> ').then(text => action(text));
			
			/*else if (text == 2)
				term.echo('b');
			else if (text == 3)
				term.echo('c');*/
		}

		function action (text_act) {
			if(text_act == 1){
				term.echo('');
				term.echo('success');
			}
			else if (text == 2)
				term.echo('b');
			else if (text == 3)
				term.echo('c');
    	}

    	function move (place) {

    	}

		//-------------------data-------------------------//
		var what_to_do = [
			"[1] 行動",
			"[2] 觀察", 
			"[3] 移動"
			];

		var T_action = [
			"[1] 檢查自己身上持有的物品",
			];

		var Toliet_place = [
			"[1] 走廊I"
		];

		//-------------------flag------------------------//
		var flag_begin_act = 0;
		
	</script>

</body>
</html>