{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://unpkg.com/jquery.terminal/js/jquery.terminal.min.js"></script>
<script type="text/javascript" src="./js/session.js"></script>
<link rel="stylesheet" href="https://unpkg.com/jquery.terminal/css/jquery.terminal.min.css"/>
<script src="./js/session.js"></script>
<title>廁所</title>
</head>
<body>
	<script>
		$('body').terminal(
		{	check:function(){
			this.echo(
				Session.dump()
			)
		},
			show: function(arg) {
    			this.echo('\n-----------------------------------');
    		
    			if(arg === 'look'){
    				look_menu.forEach(i => this.echo(i));
    			}
    			else if(arg === 'move'){
    				move_menu.forEach(i => this.echo(i));
    			}else if(arg === 'act'){
    				act_menu.forEach(i => this.echo(i));
    			}
    			else{
    				show_menu.forEach(i => this.echo(i));
    				this.echo(
    					'請以 「show X」的格式去查看各項動作更多的選項'
					);
				}
				this.echo('\n-----------------------------------');
    		},
    		look: function(arg) {
    			if(Session.get(key) == 0){
    				this.echo(
							'\n-----------------------------------------' +
							'\n用手機照到廁所隔間的門，上頭赫然是大大的幾個字，寫著：「你以為…你…逃得掉嗎…」。' +
							'\n-----------------------------------------' +
							'\n-----------------------------------------' +
							'\n-----------------------------------------' +
							'\n！！！！！！！！！！！！！！！！！！！！！！！！！' +
							'\n！！！！！！！！！！！！！！！！！！！！！！！！！' +
							'\n你嚇了一跳，想到最初醒來的時候牆上還沒有這些字，卻在轉眼間就冒了出來。' +
							'\n你強忍著心中的恐懼，慢慢地靠近隔間的門，手避開那些字，小心翼翼地推開了門。' + 
					    	'\n用手機的手電筒一照，發現一道閃光反射到自己的眼中，仔細一看發現，在馬桶蓋上放著一把鑰匙。' +
							'\n(取得系辦鑰匙)（登登登）（自帶音效）' +
					    	'\n-----------------------------------------');
						Session.set(key,1);
					} 
    			else if(Session.get(key) == 1){
    				this.echo(
							'\n-----------------------------------------' +
							'\n你看著這幾個字，已不如最初看到時的恐懼。' +
							'\n但是心底像是被什麼東西撓著一樣，明明應該記得什麼事情，但卻回想不起來。' + 
					    	'\n-----------------------------------------')
					}
				else{this.echo(
							"\n-----------------------------------------" +
							"\n沒有該動作。" +
							'\n-----------------------------------------' );
	    			}
				},

			action: function(arg) {
    			this.echo('\n目前沒有什麼動作可以進行。')
    		},

    		move: function(arg) {
    			if (arg == 1){
					this.echo(
						'\n-----------------------------------------' +
						'\n你前往走廊一' +
						'\n-----------------------------------------'
						);
						document.location.href="../Y29ycmlkb3JfaQ==/"; 
		   				}
				else {
    				this.echo(
						"\n-----------------------------------------" +
						"\n沒有該動作。" +
						'\n-----------------------------------------' );
	    			}
    			}
    	},	
		{
    		greetings:
	    		'\n-----------------------------------------' +
			    '\n回到最初醒來的起點，周圍也沒看到什麼特別的。' + 
			    '\n-----------------------------------------'
		}	    );
		
		var show_menu = [
			"[act]  進行動作",
			"[look] 觀察當前場所", 
			"[move] 移動到別的場景"
			];

		var act_menu = [
			"目前沒有什麼動作可以進行。"
		];

		var look_menu = [
			"[1] 嘗試觀察四周"
		];	

		var move_menu = [
			"[1] 走廊 I"
		];
		var flag_act = 0;
		var flag_look = 0;
		//------------DATA-----------------------------
	</script>

</body>
</html>